<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Load parameters to the parameter server -->
  <rosparam command="load" file="$(find arc_lane_following_autopilot)/launch/lanetracker.yaml" />

  <!-- Arguments -->
  <!-- Decide if rosbag or webcam. If true then start webcam -->
  <arg name="IMAGE_SOURCE" default="true" />

  <!-- Parameters -->
  <!-- Parameter to specify path to rosbag -->
  <param name="PATHTOBAG" value="/media/nikku/VERBATIM HD/bagbag_klausenpass.bag" type="str" />
  <param name="NODENAME" value="" type="str" />
  <!-- Start -->

  <!-- Start topic: Either webcam or rosbag -->
  <node pkg="rosbag" type="play" name="player" output="screen" unless="$(arg IMAGE_SOURCE)"/>
  <include file="$(find package_name)/directory/another.launch" if="$(arg IMAGE_SOURCE)"/>

  <!-- Start lanetracker node.-->
  <node name="lanetracker" pkg="arc_lane_following_autopilot" type="test_nikhilesh_exec" output="screen"/>

</launch>
